<div class="container d-flex justify-content-between">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/TAYLOR1989.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Disco de vinil 1989 (taylor's version)</h5>
          <p class="card-text">Vinil Taylor Swift – 1989 (Taylor’s Version) – Vinil Triplo. Na nova versão de Taylor, todas as faixas são regravadas. 
          </p>
          <a href="#" class="btn btn-info text-info-emphasis container-fluid">Comprar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/73e543a20e6cd8ad72e9fb2fdf4d841f.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CD 1989 (taylor's version)</h5>
          <p class="card-text">CD Taylor Swift – 1989 (Taylor’s Version). Na nova versão de Taylor, todas as faixas são regravadas. 
          </p>
          <a href="#" class="btn btn-info text-info-emphasis container-fluid">Comprar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/camiseta.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camiseta 1989 (taylor's version)</h5>
          <p class="card-text">Camiseta Taylor Swift – 1989 (Taylor’s Version). Esteja sempre no estilo. 
          </p>
          <a href="#" class="btn btn-info text-info-emphasis container-fluid">Comprar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/poster.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Poster 1989 (taylor's version)</h5>
          <p class="card-text">Poster Taylor Swift – 1989 (Taylor’s Version). Decore o seu ambiente!!
          </p>
          <a href="#" class="btn btn-info text-info-emphasis container-fluid">Comprar</a>
        </div>
      </div>
</div>